## website general information configuration.
site_title: "Pipe N' Poof - a Journey to Experiment on Design, Build and Proof the Data Pipeline"
site_description: "My Learning Journey"
permalink: /:categories/:year/:month/:title

plugins:
  - jekyll-paginate
  - jekyll-paginate-categories
  #- jekyll-minifier
  - jekyll-paginate-tags
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-archives
  - jekyll-tagging-related_posts
  - jekyll-last-modified-at
  - jekyll-loading-lazy
  - jekyll-glossary_tooltip
  - jekyll-drawio

url: "https://pipenpoof.com" # the base hostname & protocol for your site


paginate: 8
paginate_path: '/page-:num/'

paginate_category_basepath: '/category/:name/'
paginate_category_layout: 'category.html'

paginate_tag_basepath: '/tags/:name/'
paginate_tag_path: '/page-:num'
paginate_tag_layout: 'tag.html'

#jekyll-minifier:
  #preserve_php: true                # Default: false
  #remove_spaces_inside_tags: true   # Default: true
  #remove_multi_spaces: true         # Default: true
  #remove_comments: true             # Default: true
  #remove_intertag_spaces: true      # Default: false
  #remove_quotes: false              # Default: false
  #compress_css: true                # Default: true
  #compress_javascript: false         # Default: true
  #compress_json: true               # Default: true
  #simple_doctype: false             # Default: false
  #remove_script_attributes: false   # Default: false
  #remove_style_attributes: false    # Default: false
  #remove_link_attributes: false     # Default: false
  #remove_form_attributes: false     # Default: false
  #remove_input_attributes: false    # Default: false
  #remove_javascript_protocol: false # Default: false
  #remove_http_protocol: false       # Default: false
  #remove_https_protocol: false      # Default: false
  #preserve_line_breaks: false       # Default: false
  #simple_boolean_attributes: false  # Default: false
  #compress_js_templates: false      # Default: false

jekyll-archives:
  enabled:
    - year
    - month
    - day
  layout: archive
  permalinks:
    year: 'archive/:year/'
    month: 'archive/:year/:month/'
    day: 'archive/:year/:month/:day/'

highlighter: rouge
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
exclude:
  - _includes/notebook/
  - _drawio/
  - assets/notebook/
  - "*.ipynb"