---
---

{% include meta.header.html title ="Pumpkinlaboo" %}
<body>
  <div class="whole-site">
    <div class="post-feedback">
          We're on Public Repo. Got Feedback ? <a href='https://github.com/deganandapriyambada/degananda.com/edit/master/{{ page.name }}'>Edit This Page</a> &nbsp; <i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; 
          Or &nbsp; <a href="#">Bookmark</a> &nbsp; This Blog &mdash; <a href="#">View Post Draft</a>
    </div>
    <div class="topmenu">
      <div class="topmenu-container">
        {% include top.menu.html type = "withoutserach" %}      
      </div>
      <div class="gimmick-landing-top">
        {% include gimmick.input.html %}
      </div>        
    </div>
  </div>

  {% if page.url contains 'page' %}
  {% else %}
  {% include top.headline.html %}
  {% endif %}


<div class="padding-container">
  <div class="container">
    <!-- Main content -->
    <div class="content">
      <!-- start main -->
        {% if page.url contains 'page' %}
        {% else %}
        <div class="">
          <div class="landing-container">
            {% include top.gimmick.about.html %}
          </div>
        </div>
        {% endif %}

        <div class="landing-container">
          <div class="latest-post-container" style="padding-top: 0px;">   
                <div class="section-title">
                    {% if page.url contains 'page' %}
                    Browse All Post
                    {% else %}
                    Software Engineering
                    {% endif %}
                </div>
                {% include latest.post.html %}
            </div>
        </div>

        {% include latest.drawio.html %}
      
      <div class="series bg-series">
        <div class="landing-container">
        {% if page.url contains 'page' %}
        {% else %}
        {% include top.series.html %}
        {% endif %}
        </div>
      </div>  
        <div class="landing-container">
          <div class="latest-post-container">
        {% include latest.alter.html %}
            </div>
        </div>
      <!-- end main -->
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-inner">
        <!-- sidebar -->
        {% include main.sidebar.html %}
        <!-- end of sidebar -->
        </div>
    </div>
  </div>
</div>


{% if page.url contains 'page' %}
{% else %}

<div class="width-container">
  Browse By Alphabet
  <ul class="browse-alphabet  ">
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
    <li>F</li>
    <li>G</li>
    <li>H</li>
    <li>I</li>
    <li>J</li>
    <li>K</li>
    <li>L</li>
    <li>M</li>
    <li>N</li>
    <li>O</li>
    <li>P</li>
    <li>Q</li>
    <li>R</li>
    <li>S</li>
    <li>T</li>
    <li>U</li>
    <li>V</li>
    <li>W</li>
    <li>X</li>
    <li>Y</li>
    <li>Z</li>
  </ul>
</div>

<div class="gray-explore width-container-main">
  <div style="margin-bottom: -20px;">
    <img src="/assets/images/line-black.svg" height="60px" loading="lazy"> 
  </div>

  <div class="section-title">
    Digitalization <br />
    <span class="desc-info">Grinding and Level up</span>
  </div>

  <div class="guidance">
    <div class="guid-item">
      Tech
    </div class="guid-item">
      Business
    <div>

    </div>
  </div>
  <div class="digitalization-container">
    <div class="digi-item">
      <i class="fa fa-object-group" aria-hidden="true"></i>
      <br />
      Digital Layout
      <div class="digi-desc">
        collections of web component layout, deck, apps mockup until icon.
      </div>
    </div>
    <div class="digi-item">
      <i class="fa fa-code" aria-hidden="true"></i>
      <br />
      Algo Cracking
      <div class="digi-desc">
        We try to solve coding challanges on the web.
      </div>
    </div>
    <div class="digi-item">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <br />
      Analytics Usecase
      <div class="digi-desc">
        try to extract useful and beneficial insight from given raw data.
      </div>
    </div>
    <div class="digi-item">
      <i class="fa fa-flask" aria-hidden="true"></i>
      <br />
      Industry Insight
      <div class="digi-desc">
        Learn various business process over different industry.
      </div>
    </div>
    <div class="digi-item">
      <i class="fa fa-book" aria-hidden="true"></i>
      <br />
      Certification Prep
      <div class="digi-desc">
        Learn and prepare for upcoming tech or non certifications.
      </div>
    </div>
    <div class="digi-item">
      <i class="fa fa-tint" aria-hidden="true"></i>
      <br />
      Experimental
      <div class="digi-desc">
        Test the water of low maintenance digital startup.
      </div>
    </div>
  </div>

  <div class="site-category-topics">
    <h2 class="main-section">  Tags </h2>
  </div>

  
  <div class="site-category-topics">
      <div class="site-category-container">

          {% assign categories = site.posts | map: 'categories' | uniq %}
          
          {% for category in categories %}
            <div class="site-category-box">
              <div class="site-category-title"> {{ category }} </div>
            <ul class="site-category-content">
              {% assign category_posts = site.posts | where: 'categories', category %}
              {% assign category_tags = category_posts | map: 'tags' | join: ',' | split: ',' | uniq %}
              
              {% for tag in category_tags %}
                <li>
                  <a href="/tags/{{ tag | slugify }}/">{{ tag }} </a>
                </li>
              {% endfor %}
            </ul>
            </div>
          {% endfor %}
      </div>
  </div>
  <div class="more-topics">
    Do you enjoy our content & wanted to request some specific topics? <a href="mailto:degananda.ferdian@gmail.com"> let me know </a>
  </div>
</div>


<div class="width-container-main" style="background: #ffffff;">
    <div class="schedule-container">
      <div style="width: 70%;">
      {% include bottom.gimmick.schedule.html %}
      </div>
      <div style="width: 30%;">
        {% include commit.history.html %}
      </div>
    </div>
</div>

<div class="width-container">
{% include bottom.math.html %}
</div>







{% include bottom.gimmick.stats.html %}
{% include bottom.product.html %}

{% endif %}



  {% include footer.menu.html widthconfig="full" %}
<script src="/assets/js/site.js" type="text/javascript"></script> 
<!--  
<script src="/assets/js/dganttchart.min.js" type="text/javascript"></script>   
<script>
    var data = [
      {
        startDate: "2024-03",
        endDate: "2024-05",
        itemName: "Interview with User",
      },
      {
        startDate: "2024-03",
        endDate: "2024-04",
        itemName: "Backend Development",
      },
      {
        startDate: "2024-01",
        endDate: "2025-04",
        itemName: "Backend Unit Testing",
      },
      {
        startDate: "2025-01",
        endDate: "2025-06",
        itemName: "Frontend Development",
      },
    ];
    
    var separator = [
      {
        index: 0,
        separatorName: "Phase 1: Requirement gathering",
      },
      {
        index: 1,
        separatorName: "Phase 2: Development",
      },
    ];
    var myChart = new DGanttChart("myganttchart", data, separator);
</script>
-->
<script src="/assets/js/indexmain.js" type="text/javascript"></script>   
<script type="text/javascript" src="/assets/github-commit/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/github-commit/js/github-commit-history.js"></script>
<script type="text/javascript">

$(function() {
  $('#commitHistory').GithubCommitHistory( {
          username: "deganandapriyambada",
          repo: "degananda.com",
          limit: 5, 
          offset: 0
      })
  });
  </script>
</body>