---
---

{% include meta.header.html title ="Pipe n Poof - a Digital Journey to Experiment on Design, Build and Proof the Data Pipeline" %}

<body>
  <div class="whole-site">
    <div class="topmenu">
      <div class="topmenu-container">
        {% include top.menu.html type = "withoutserach" %}
      </div>
      {% if page.url contains 'page' %}
      {% else %}
      <div class="gimmick-landing-top">
        {% include gimmick.input.html %}
      </div>
      {% endif %}


    </div>


    {% if page.url contains 'page' %}
    {% else %}
    {% include top.headline.html %}
    {% endif %}


    <div class="padding-container bg-pad-up-down bg-gray">
      <div class="two-col-flx">
        {% if page.url contains 'page' %}
        <div class="col-flx-100">
          {% include post.type1.html %}
        </div>
        {% else %}
        <div class="col-flx-50">
          <div class="theme-divider-word">
            ODO (1-day-1) Series
          </div>

          <div>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span>
              <a href="/category/odos-snippet" class="gen-links">One Day One Code Snippet for Software Development (SWE)</a>
            </span>
          </div>

          <div>
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span>
              <a href="#/category/odos-snippet" class="gen-links">One Day One Math Theorem/Equation/Statistics for Data Science</a>
            </span>
          </div>



          {% include post.type1.html %}
        </div>
        <div class="col-flx-50">
          {% include top.series.html %}
        </div>
        {% endif %}

      </div>
    </div>

    {% include footer.menu.html widthconfig="full" %}
    <script src="/assets/js/site.js" type="text/javascript"></script>
    <script src="/assets/js/indexmain.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/github-commit/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/github-commit/js/github-commit-history.js"></script>
    <script type="text/javascript">

    $(function() {
      $('#commitHistory').GithubCommitHistory( {
              username: "deganandapriyambada",
              repo: "degananda.com",
              limit: 1, 
              offset: 0
          })
      });
    </script>
  </div>
</body>