<div class="comment width-container-post">

    <div class="comment-container">
        <div class="section-title">
            Share The Article
        </div>

        If you think the article is interesting, kindly share it to others.

<div class="share-buttons">
  <!-- Share to X -->
  <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title }}" 
     target="_blank" 
     class="share-btn twitter">
    <i class="fa fa-twitter"></i> Share on X
  </a>

  <!-- Share to LinkedIn -->
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title }}" 
     target="_blank" 
     class="share-btn linkedin">
    <i class="fa fa-linkedin"></i> Share on LinkedIn
  </a>
</div>
    </div>

    <div class="comment-container">
        <div class="section-title">
            Leavea a Comments/Responses
        </div>
        <div class="giscus">
            
        </div>
    </div>
</div>