<div class="padding-container pink-gradient">
    <div class="product-bg">
        <div class="left-rocket">
            <div class="left-rocket-bg">
                <div class="left-rocket-content">
                    <div style="margin-bottom: -20px;">
                        <img src="/assets/images/line-black.svg" height="60px"> 
                    </div>
                    <div>
                        Do you Love our content?
                    </div>
                    <div>
                        Level up your reading
                    </div>
                    <div>
                        Xperiences!
                    </div>               
                    <div>
                        watch our serialized content on video courses. Enjoy more detailed explanation with live demo!.
                    </div>
                    <div class="findmore">
                        <button class="section-link-reverse"><a href="#">Vlog</a></button>
                        <button class="section-link2 "><a href="#">Newsletter</a></button> 
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="right-rocket">
            <div>
                Fly & Build together
            </div>
            <div>
                Our Publishing Schedule
            </div>
            <div>
                Posts
            </div>
            <div>
                Every xx
                <div>
                    On pumpkinlaboo.com
                </div>
            </div>
            <div>
                Video
            </div>
            <div>
                Every xx
                <div>
                    On youtube
                </div>
            </div>
            <div>
                View Gantt Chart
            </div>
            <div>
                Xtra
            </div>
            <div>
                Video Courses
            </div>
            <div>
                E-Book
            </div>
        </div>
    </div>
</div>