
<div  class="section-title">
  Writings Timeline
</div> 

<div class="gantt-target"></div>

<script src="/assets/js/frappe-gantt.min.js"></script>
  <link rel="stylesheet" href="/assets/css/frappe-gantt.css">
<script>
    var tasks = [
    
    {
        	start: '2024-07-15',
        	end: '2024-08-15',
        	name: 'Relearn Angular and NextJS by creating boiler plate for wedding apps',
        	id: "Task 1",
        	progress: 5
    },
    {
        	start: '2024-07-20',
        	end: '2024-09-15',
        	name: 'Learning Manufacturing Industry',
        	id: "Task 2",
        	progress: 10
    },
    {
        	start: '2024-08-16',
        	end: '2025-01-01',
        	name: 'Agnostics IOT Protocol Gateway using Azure',
        	id: "Task 3",
        	progress: 10,
            dependencies: 'Task 1'
    },
    {
        	start: '2024-07-15',
        	end: '2025-08-01',
        	name: 'Learn Networking CCNP',
        	id: "Task 4",
        	progress: 10
    }
]
var gantt_chart = new Gantt(".gantt-target", tasks, {
  header_height: 50,
  column_width: 30,
  step: 24,
  view_modes: ["Quarter Day", "Half Day", "Day", "Week", "Month"],
  bar_height: 20,
  bar_corner_radius: 3,
  arrow_curve: 5,
  padding: 18,
  view_mode: "Month",
  date_format: "YYYY-MM-DD",
  language: "en", // or 'es', 'it', 'ru', 'ptBr', 'fr', 'tr', 'zh', 'de', 'hu'
  custom_popup_html: null,
})
</script>

