<div class="stats">
    <div class="stats-container">
        <div class="max">
            <div class="stats-title">
            Blogging Milestone
            </div>
            <div class="stats-title-desc">
                I will continue to write and documented learning journey <br /> 
                of computer science and its surroundings knowledge.
            </div>
        </div>
        <div class="stats-whole-container">
            <div class="enmax">
                <div class="stats-number-container">
                    <div class="growth">
                        <span class="number"+>+0</span> From last Month
                    </div>
                    <div class="stats-number">
                        {% assign total_posts = site.posts | size %} {{ total_posts }}
                    </div>
                    <div class="stats-desc">
                        Total Posts
                    </div>
                    <div class="gimmick-view-stats">
                        <span class="gimmick-stats-title"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> &nbsp; View Posts </span><br />
                        <span class="gimmick-stats-desc">4 Content Type</span>
                    </div>

                </div>
                <div class="stats-number-container">
                    <div class="growth">
                        <span class="number"+>+0</span> From last Month
                    </div>
                    <div class="stats-number">
                        {% assign total_categories = site.categories | size %}
                        {{ total_categories }}
                    </div>
                    <div class="stats-desc">
                        Total Topics
                    </div>
                    <div class="gimmick-view-stats">
                        <span class="gimmick-stats-title"><i class="fa fa-dashcube" aria-hidden="true"></i> &nbsp; View Topics </span><br />
                        <span class="gimmick-stats-desc">All Topics</span>
                    </div>

                </div>
                <div class="stats-number-container">
                    <div class="growth">
                        <span class="number"+>+0</span> From last Month
                    </div>
                    <div class="stats-number">
                        {% assign all_tags = site.tags | keys %}
                        {% assign total_tags = all_tags | size %}
                        {{ total_tags }}
                    </div>
                    <div class="stats-desc">
                        Total Tags
                    </div>
                    <div class="gimmick-view-stats">
                        <span class="gimmick-stats-title"><i class="fa fa-tags" aria-hidden="true"></i> &nbsp;
                             View Tags </span><br />
                        <span class="gimmick-stats-desc">Based on Topics</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>