<div class="comment width-container-post">

    <div class="section-title">
        Support Us
    </div>

    <div class="support">
        <div>Hi There!, Thanks for reading our article, hope you get a good insight.
        </div>
        <div class="share-buttons">
            <a href="https://sociabuzz.com/pipenpoof/donate" target="_blank" class="share-btn coffee"><i
                    class="fa fa-coffee" aria-hidden="true"></i>
                Treat us a
                coffee </a>
            <a href="mailto:degananda.ferdian@gmail.com" target="_blank" class="share-btn coffee"><i
                    class="fa fa-briefcase" aria-hidden="true"></i>
                Place your links </a>
        </div>

    </div>


    <div class="comment-container">
        <div class="section-title">
            Share The Article
        </div>

        <div class="summary-content">
            If you think the article is interesting, kindly share it to others.
        </div>

        <div class="share-buttons">
            <!-- Share to X -->
            <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title }}"
                target="_blank" class="share-btn twitter">
                <i class="fa fa-twitter"></i> Share on X
            </a>

            <!-- Share to LinkedIn -->
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title }}"
                target="_blank" class="share-btn linkedin">
                <i class="fa fa-linkedin"></i> Share on LinkedIn
            </a>
        </div>
    </div>

    <div class="comment-container">
        <div class="section-title">
            Leavea a Comments/Responses
        </div>
        <div class="giscus">

        </div>
    </div>
</div>