<div class="stats">
    <div class="stats-container">
        <div class="max">
            <div class="stats-title">
                {% assign total_posts = site.posts | size %} {{  total_posts }} articles are published on PumpkinLaboo with open access.
            </div>
            <div class="stats-title-desc">
                The published article is openly accessible to everyone and can be edited by users, thanks to its placement in a public repository. This allows anyone to view, interact with, and contribute to the article's content. By clicking the "Edit Page" link, you have the opportunity to provide feedback and make direct changes or updates to the article, ensuring that the information remains accurate and up-to-date.
            </div>
            <div class="stats-list-desc">
                <ul>
                    <li>
                        View the list of comperhensive <a href="#">available categories </a>
                    </li>
                    <li>
                        View the list of <a href="#"> available topics </a> within every categories.
                    </li>
                    <li>
                        Readmore about <a href="#">publication schedule </a> and timeline.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>