<div class="padding-container">
    <div>
        New sets of article will be published every Friday Night (23:00 GMT+7). Videos will be published every Saturday (23:00 GMT+7) On Our Youtube Channel.
    </div>
    <div class="product-bg">
        <div class="left-rocket">
            <div class="section-title=light">
                About Pumpkinlaboo
            </div>
            <ul>
                <li>Explore categories and topics</li>
                <li>View serialized article ( projects )</li>
                <li>Search and find specific articles</li>
            </ul>
        </div>
        <div class="left-rocket">
            <div class="section-title=light">
                Different Reading Experiences
            </div>
            <ul>
                <li>Read our article in video format (VLOG) </li>
                <li>View our Newsletter</li>
                <li>Keep updated via RSS Feed </li>
            </ul>        
        </div>
        <div class="left-rocket">
            <div class="section-title=light">
                Additional Key Offering
            </div>
            <ul>
                <li>Video Courses </li>
                <li>E-Book </li>
                <li>Consulting</li>
            </ul>   
        </div>
    </div>

</div>