<!--
<div  class="section-title">
  Writings Timeline
</div> 

<div id="myganttchart"></div>
<div class="more-topics">
  Powered By <a href="https://github.com/deganandapriyambada/dganttchart" target="_blank">DGantt Chart</a> ( Available on Github )
</div>
<div>
  Legend : Not Started , In Progress, Completed.
</div>
-->


<div  class="section-title">
  Site Updates
</div> 

<div class="site-updates-content">
  <div>
    a
  </div>
  <div>
    b
  </div>
</div>

<div class="post-type-2">
  <div class="post-type-2-container">
          {% for post in site.categories.alter %}
          <div class="post-type-2-content">
              <div class="post-type-2-title">
                  <a href="{{ post.url }}">{{ post.title }}</a>
              </div>
              <div class="post-type-2-title-desc">
                  {{ post.date | date: "%F" }}
                  &nbsp;
                  {% 
                      assign wordCount = post.content | number_of_words 
                  %}
                  {%
                      assign minsRead = wordCount | divided_by: 200 
                  %} 

                  {{ minsRead | plus:1 }} Mins Reading.     
              </div>
              <div class="post-type-2-tldr">
                  {{ post.excerpt }}
              </div>

              <div class="post-type-2-title-tags">
                  <div class="post-tags">
                      {% for tags in post.tags %}
                          <div class="post-tags-item-lite">
                              <a href="/tags/{{ tags }}/">{{ tags }}</a>
                          </div>
                      {% endfor %}
                  </div>
              </div>


          </div>
          {% endfor %}
  </div>
</div>

