<div class="commit-container">

    <div class="section-title-light">
        <b> Recent Activities </b>
        <div> Branch : <i class="fa fa-code-fork" aria-hidden="true"></i>
             <a href="https://github.com/deganandapriyambada/degananda.com" target="_blank"> Master </a> </div>
    </div>

    <div>
        all of the published content are available on public repositories. Feel free to provide feedback.
    </div>


    <div id="commitHistory"></div>
    <div>
        View on Repositories
    </div>

</div>
