<div class="footer-menu {% if include.widthconfig == 'post' %} 
post-width-half     
{% else %}
full-width
{% endif %}>
">
    <div class="footer-menu-container">
        <div class="footer-info">
            <ul>
                <li>
                    Copyright &copy;  Pipeloone 2024
                </li>
                <li><a href="/sitemap.xml" target="_blank">Sitemap</a></li>
                <li>
                    <a href="/archive/2024/" target="_blank">Archieve 2024</a>
                    
                </li>
                <li>
                    <a href="https://github.com/deganandapriyambada/degananda.com/commits/master/" target="_blank">
                        Change Logs
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>