<div class="footer-menu">
    <div class="footer-menu-container">
        <div class="disclaimer">
            All content & publication which are published on this website are subject into writer's opinion and point of view (PoV). None of my content is related with my current employer.
        </div>
        <div class="copyright">
            Copyright &copy; Degananda Ferdian 2024
        </div>
        <div class="last-update">
            Last updated on : {{ site.time | date_to_string: "ordinal", "US" }}


        </div>
        <div class="footer-info">
            <ul>
                <li><a href="/sitemap.xml" target="_blank">Sitemap</a></li>
                <li>
                    <a href="/archive/2024/" target="_blank">Archieve 2024</a>
                    
                </li>
                <li>
                    <a href="https://degananda.substack.com/" target="_blank">
                        Subscribe
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/images/tt.png" width="16"> &nbsp; Takterlupakan
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>