<div class="padding-container">
    <div class="aboutme">
      Welcome!  We wrote our learning journey about (but not limited to) Computer Science. TLDR; its our <b class="living">living learning notes</b>.
    </div>

    <div class="top-search">
        <div class="search-box">
          Sources
        </div>
        <div class="search-box">
          Topics
        </div>
        <div class="search-box">
          Article Title
        </div>
        <div class="search-box"> 
          &nbsp;
        </div>
    </div>

    <div class="top-search">
      <div class="search-box">
        <select disabled>
            <option selected>All</option>
        </select>
      </div>
      <div class="search-box">
        <input type="text">
      </div>
      <div class="search-box">
        <input type="text">
      </div>
      <div class="search-box"> 
        <button> Search  <i class="fa fa-search" aria-hidden="true"></i>
         </button>
        &nbsp;    Available Topics
      </div>
    </div>

  </div>