
  <div class="padding-container">
    <div class="big-search-container">
      <div class="aboutme">
        Explore, Design, Code, Proof and Document The Data Pipeline. Evolving with Our Career Journey. A Living Journal.
      </div>
      <div class="big-search">
          <input id="search-pl" type="text" placeholder="what are you looking for?">
          <button onclick="search()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
      </div>
     <div class="post-type-2-title-tags">
      <div class="post-tags">
        <div class="post-tags-item-side" style="background: none; font-weight: 300; color: #3d3d3d">
          Recent Tags
        </div>
       {% for tag in site.tags limit: 6 %}
        <div class="post-tags-item-side">
            <a href="/tags/{{ tag | first }}/">{{tag | first }}</a>
        </div>
      {% endfor %}
      <div class="post-tags-item-side" style="background: none; font-weight: 300; color: #3d3d3d">
        <u><a href="/explore">View All</a></u>
      </div>
      </div>
    </div>
  </div>
  
    </div>