<div class="snippet-container">
    <div class="snippet-menu">
        <div>
            ODOS
        </div>
        <div>
            One day One Snippet.
        </div>

        <div class="section-title">
            Menu
        </div>

        <ul>
            <li>All</li>
            <li>Snippets of Code</li>
            <li>Snippets of Command</li>
        </ul>

        <div class="section-title">
            Collections
        </div>

        <ul>
            <li>Boilerplate</li>
        </ul>

    </div>
    <div class="snippet-list">
        b
    </div>
</div>