
<div id="sidebar-main">
    <div class="sidebar-main-container">

        <div class="headline-switcher">                 
            <ul>
                <li><a href="#">Subtopics</a></li>
                <li><a href="#">Blog</a></li>
                <li style="padding-right: 0px;"><a href="#">Offering</a></li>
            </ul>
        </div>

    <div class="section-title-light">
        Latest Publications
    </div>
    {% for post in paginator.posts limit: 5 %}
    <div class="latest-content-container">
        <div class="latest-content-item">
            <div class="title-container">
                <div class="profpic">
                    <div class="contributor-small">
                        DF
                    </div>
                </div>
                <div class="incat">
                    <b>Degananda</b> in  <u><b>{{ post.categories  }}</b></u>
                </div>
            </div>
            <div class="title">
                {{ post.title }}
            </div>
            <div class="date">
                {{ post.date | date: "%-d %B %Y" }} 
                ·
                5 Mins read                
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="button-light">
        View More
    </div>

    <div>
        <a href="">View Writing Timeline</a> &nbsp; | &nbsp; <a href="#"> Site Updates. </a> 
    </div>




    <div class="button-light">
        View Tags
    </div>

    <div class="section-title-light">
        Snippets Collections
    </div>

    {% for post in site.categories.snippet limit: 5 %}
    <div class="latest-content-container">
        <div class="latest-content-item">
            <div class="title">
                {{ post.title }}
            </div>
            <div class="date">
                {{ post.date | date: "%-d %B %Y" }} 
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="button-light">
        View All Snippets
    </div>

    </div>
</div>