<div id="menu-sidebar">
    <div class="menu-sidebar-container">
        <div class="menu-title">
            <div class="popnav-left">
                <b>Navigation</b>
            </div>
        </div>
        <div class="menu-close">
            <div class="popnav-right">
                <i class="fa fa-times" aria-hidden="true" onclick="openMenu()"></i>
            </div>
        </div>
        <div class="nav-menu-list">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/category/blog">Blog</a></li>
                <li><a href="/feed.xml">RSS</a></li>
                <li><a href="/officetools/text-transformator">Office Tools</a></li>
                <li><a href="https://www.linkedin.com/in/degananda-ferdian/?originalSubdomain=id">Contact</a></li>

            </ul>
        </div>
    </div>
</div>