<!DOCTYPE html>
<html lang="en-us">

<head>
    <title> {{ include.title }} </title>
    <link href="/assets/css/styles.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <link href="/assets/lightbox/lightbox.css" rel="preload" as="style" onload="this.rel='stylesheet'">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <!-- end of favicon-->
    <meta data-rh="true" name="robots" content="index,follow,max-image-preview:large">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="pipenpoof.com">
    <!-- font -->
    <link rel="stylesheet" href="/assets/css/highlighter.css">
    <link rel="stylesheet" href="/assets/fav4/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="manifest" href="/manifest.json">
    {% if page.url == "/" %}
    <link rel="canonical" href="{{ site.url }}">
    {% elsif page.url contains '/category/' %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% elsif page.url contains '/tags/' %}
    {% assign first_post = site.posts | where_exp:"post","post.tags contains page.tag" | first %}
    {% if first_post %}
    {% assign parent_category = first_post.categories | first %}
    <link rel="canonical" href="{{ site.url }}/category/{{ parent_category }}/">
    {% endif %}
    {% else %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% endif %}
</head>