<div class="padding-container">

    <div class="theme-divider-word">
        Zines
    </div>

    <div class="new-post-excerpt">
        Each month we released a zines containing currated publications within the past month.
    </div>

    <div class="section-title">
        2026 Zines
    </div>

    <div class="zines-container">
        <ul>
            <li><span class="zines-bubble-info bg-green">Latest</span><span class="zines-bubble-info">10
                    Publications</span><a href="/archive/2026/02" class="gen-links">February 2026: The Database
                    Emperium</a></li>
            <li><span class="zines-bubble-info">4 Publications</span><a href="/archive/2026/01"
                    class="gen-links">January 2026 Edition: Playful Breahthrough</a></li>
        </ul>
    </div>

    <div class="section-title">
        2025 Zines
    </div>

    <div class="zines-container">
        <ul>
            <li><span class="zines-bubble-info">9 Publications</span><a href="/archive/2025/12"
                    class="gen-links">December 2025 Edition: New Beginning</a></li>
            <li><span class="zines-bubble-info">10 Publications</span><a href="/archive/2025/11"
                    class="gen-links">November 2025 Edition: The First Edition</a></li>
        </ul>
    </div>

</div>