<div class="post">
    <div class="post-container">
        <div class="post-header-summary">
            <div class="background">
                <div class="section-title">
                    Background
                </div>
            </div>
            <div class="objective">
                <div class="section-title">
                    Objective
                </div>
            </div>
            <div class="deliverables">
                <div class="section-title">
                    Deliverables
                </div>
            </div>
        </div>
        <div class="topic-covered">
            Topics Covered
        </div>
        <div>
            Overview > Outline > Content > Summary
        </div>
        <div class="post-gimmick">
            <div class="post-gimmick-container">
                <div class="comment-button">
                    <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>Discussion</a>
                    <div id="okoy">
                        &nbsp;
                    </div>
                </div>
                <div>
                    <i class="fa fa-print" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div id="reading-progress">
            &nbsp;
        </div>
        <div class="post-content">
            {{  page.content }}
        </div>
    </div>
</div>

