<div class="padding-post-heading-container">
    <div class="post-header">
        <div class="post-header-container">
            <div class="post-header-desc">

                <div class="title-container">
                    <div class="profpic">
                        <div class="contributor-small">
                            DF
                        </div>
                    </div>
                    <div class="incat">
                        <b>Degananda</b> on  <u>{{page.ptype | | capitalize }}/<u><b>{{ page.categories }}</b></u>
                    </div>
                </div>

                <div>
                    SERIES: {{ page.series }}
                </div>
                
                <div class="post-title">
        
                    <h1>{{ page.title }}</h1>
                    <div>
                        {{ page.excerpt }}
                    </div>
                    <div>
                        <button>Jump to Content</button>
                        <button>Download as PPT Deck</button>
                    </div>
                    
                </div>
                    
            </div>
            <!-- post headersidebar -->
            <div class="post-header-outline">
                <div class="section-title">
                    OUTLINE
                </div>
                <div id="top-heading">
        
                </div>
            </div>
            <!-- end of post header sidebar -->
            <!-- post headersidebar -->
            <div class="post-header-outline">
                <div class="section-title">
                    Recent Publications in Same Category
                </div>
                <div id="top-heading">
        
                </div>
            </div>
            <!-- end of post header sidebar -->
        </div>
        <div>
            Download as PDF
        </div>
        <div class="translate">
            Translate
            <ul>
                <li>
                    EN
                </li>
                <li>
                    ID
                </li>
                <li>
                    JP
                </li>
                <li>
                    RU
                </li>
                <li>
                    ES
                </li>
                <li>
                    IT
                </li>
                <li>
                    IND
                </li>
                <li>
                    PH
                </li>
                <li>
                    AR
                </li>
            </ul>
        </div>
        <div>
            Post Quality Meter 
            Number of word, Number of char, Number of H1, number of H2
        </div>
        <div>
            Share to Social Media
        </div>
    </div>
</div>