<div class="post">
    <div class="post-container">
        <div class="post-gimmick">
            <div class="post-gimmick-container">
                <div class="comment-button">
                    <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>Discussion</a>
                    <div id="okoy">
                        &nbsp;
                    </div>
                </div>
                <div>
                    <i class="fa fa-print" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                </div>
                <div>
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div id="reading-progress">
            &nbsp;
        </div>
        <div class="post-content">
            {{  page.content }}
        </div>
        
        <div class="section-title"> Support Us </div>

        <div class="post-sponsor">
            Enjoy our publications? <a href="">Sponsor this article</a> or Subscribe to our <a href="#">Newsletter</a>
        </div>


       

        {% include bottom.comment.html %}

        <div class="section-title"> Supporters </div>

        <div>
            Name +Img +Link
        </div>

    </div>
</div>