<div class="twoblock-right-maxw">
    <div class="twoblock-marg-r">
        <div class="post-author-container">
            <div class="post-author-photo">
                <img src="/assets/images/dfp2.jpeg">   
            </div>
            <div>
                <span class="typo1">Degananda Ferdian</span>
                <span class="typo2"> · Profile   </span>
                <br />
            <span class="typo3"> {{ page.date | date_to_string: "ordinal", "US"}} </span>
            <span class="typo2"> - 5 Mins Read </span>


            </div>    
        </div>

        <div class="sponsor">
            <a href="#"><button> <i class="fa fa-diamond" aria-hidden="true"></i> &nbsp;
                 Support This Writings</button></a>
        </div>

        <div class="post-navigation">
            <div class="next">
                <a href="{{page.previous.url}}"><button>Prev</button></a>
            </div>
            <div class="prev">
                <a href="{{page.next.url}}"><button>Next</button></a>
            </div>
        </div>

        <div>
            total Word | Total Char | Total References
        </div>

        <div class="section-title-light"><u> List of content </u> </div>

        <div class="post-list-of-content">
            <div id="post-heading">

            </div>
        </div>
        

    </div>
</div>