<div class="padding-container">
    <div class="theme-divider-word">
        Short Series
    </div>
</div>

<div class="padding-container">
    <div class="dynamic-flex">
        <div class="short-series-box">

            <div class="short-series-category">
                Frontend Development
            </div>

            <div class="short-series-title">
                Build Text Transformator Tools using Pure/Vanila React JS from Scratch
            </div>

            <div class="short-series-post">
                5 Articles
            </div>

            <div class="short-series-post">
                20 Mins Read Time
            </div>


        </div>

    </div>
</div>