
<div class="explore-series">
    <div id="top-reset">
        &nbsp;
      </div>
    <div class="available-series">
     Available {% glossary Series %} <i class="fa fa-compass" aria-hidden="true"></i>
    </div>
    <div>
        <div class="series-name">
        Agnostics IoT Gateway
        </div>
    </div>
    <div>
        <div class="series-name">
        Invitation PaaS
        </div>
    </div>
    <div>
        <div class="series-name">
        Manfucaturing PaaS
        </div>
    </div>
</div>

<div class="welcome-container">
    <div class="welcome-left">
        <div class="profpic-container">
            <div class="profpic-info">
                Hi! Greetings & Good Day.
            </div>
        </div>
        <div class="aboutme">
            Thanks for coming!  We wrote our learning journey about (but not limited to) Computer Science on this webiste. In short, this blog is Our <b class="living">living study notes</b>.
            Find me on : <a href="https://www.linkedin.com/in/degananda-ferdian" target="_blank">LinkedIn</a>, <a href="https://github.com/deganandapriyambada" target="_blank">Github</a>, <a href="https://twitter.com/degapriyambada" target="_blank">Twitter</a>
            <div class="findmore">
                <button class="section-link-reverse"><a href="#">Browse Topic</a></button>
                <button class="section-link2 "><a href="#">Tags List</a></button> 
                
            </div>
            <a href="">View Writing Timeline</a>

        </div>
    </div>
    <div class="welcome-right">
        <div class="section-title" style="margin-bottom: 10px;">
            Monthly Picks
        </div>
        <div class="highlighted-post">
            <div class="highlighted-post-container">
                <div class="hot-item">
                    <b><span style="font-size: 30px;">#1</span></b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </div>
                <div class="hot-item">
                    <b><span style="font-size: 30px;">#2</span></b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </div>
                <div>
                    <button class="section-link-reverse"><a>Subscribe</a></button> to Get Exclusive Bi-Weekly Zines.
                </div>
            </div>
        </div>
    </div>
</div>

