
<div class="explore-series">
    <div id="top-reset">
        &nbsp;
      </div>
    <div class="available-series">
     Available {% glossary Series %} 
    </div>
    <div class="available-series">
        <i class="fa fa-compass" aria-hidden="true"></i>
       </div>
    <div>
        <div class="series-name">
        Agnostics IoT Gateway
        </div>
    </div>
    <div>
        <div class="series-name">
        Invitation PaaS
        </div>
    </div>
    <div>
        <div class="series-name">
        Manfucaturing PaaS
        </div>
    </div>
</div>

<div class="site-navigation-container">
Contributor 
  </div>
  <div style="margin-bottom: -20px;">
    <img src="/assets/images/line-black.svg" height="60px"> 
  </div>
  <div class="site-navigation-container">

    <div class="blog-contributor">
      <div>
          From: &nbsp; &nbsp; 
      </div>
      <div class="contributor">
        DF
      </div>
      <div class="contributor">
        AD
      </div>
      <div class="contributor">
        MM
      </div>
      <div class="nton">
        <img src="/assets/images/gimmick1n1.svg">
      </div>
      <div>
        &nbsp; To Fellow CS Enthusiast
      </div>
  </div>

</div>