{% for post in paginator.posts limit: 1 %}
<div class="padding-container headline-bg">
    <div class="headline-container">
            <div style="flex: 1;">
                <!-- test -->
                <div>
                    Loren Lpsum lalala papper blod rawr ku ingin memiliki dunia ini panggung sandiwara wo o woow
                </div>
                <div style="padding-left: 5px; padding-right: 5px;">
                    <img src="https://hackernoon.imgix.net/images/6aqvE9BUBZWe8iOoQIq5MuJze9P2-nj032ey.png?w=800&auto=format&fit=max" style="width: 100%; max-height: 180px;">
                </div>
                <div>
                    <div class="title-container">
                        <div class="profpic">
                            <div class="contributor-small">
                                DF
                            </div>
                        </div>
                        <div class="incat">
                            <b>Degananda</b> in  <u><b>bikers</b></u>
                        </div>
                    </div>
                </div>
                <!-- end test -->
            </div>
            <div style="flex: 1;">
                <!-- test -->
                <div>
                    Loren Lpsum lalala papper blod rawr ku ingin memiliki dunia ini panggung sandiwara wo o woow
                </div>
                <div>
                    Loren Lpsum lalala papper blod rawr ku ingin memiliki dunia ini panggung sandiwara wo o woow
                </div>
                <div>
                    Loren Lpsum lalala papper blod rawr ku ingin memiliki dunia ini panggung sandiwara wo o woow
                </div>
                <div>
                    1155 total Word | 5 Mins Read | 9696 Total Characters
                </div>
                <!-- end test -->
            </div>
            <div style="flex: 1;">
asdsa
            </div>
    </div>

</div>
{% endfor %}

<div>
    Explore scientific, technical, and medical research on ScienceDirect
    <br/ >
    Software Engineering | Projects | Alter | Math & Statitics | Site Updates
</div>