<div class="theme-divider-word">
    Series List
</div>
<div class="series-list-container">
    {% for item in site.data.series %}
    <div class="new-series-container">
        <div class="series-new-est">
            Est: {{ item.start }} - {{ item.end }}
        </div>

        <div class="series-new-title">
            {{ item.title }}
        </div>

        <div class="series-new-topic">
             <ul>
                <li>
                    <div class="series-new-status">
                        {{ item.status }}
                    </div>
                </li>
                <li>
                    ·
                </li>
                {% for topics in item.topics %}
                    <li>{{ topics }}</li>
                {% endfor %}
             </ul>
        </div>

        <div class="series-new-option">
            Learn More
        </div>
    </div> 
    {% endfor %}
</div>
