<div>
    <div class="pl-logo">
        <i class="fa fa-bars allmenu" aria-hidden="true" onclick="openMenu()"></i>
    </div>
</div>
<div>
        <img src="/assets/images/digitalartisan.svg" height="30"> &nbsp;
</div>

<div class="logo">
    <div class="logo-container">
        <a href="/"> DigitalArtisan </a>
    </div>
</div>
<div class="search">
    <div class="search-container">
        {% if include.type == 'withoutserach' %} 
            &nbsp;
        {% else %}
        <input type="text" id="search-pl" placeholder="Search..">
        <button onclick="search()"><i class="fa fa-search" aria-hidden="true"></i>
        </button>        
        {% endif %}

    </div>
</div>
<div class="navigation">
    <ul>
        <li>
            <div class="top-left-link">
                <a href="#"> Topics </a> &nbsp; <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </li>
        <li>
            <a href="#">  Schedule & Plan 
            </a>
        </li>
        <li>
            <a href="/category/snippet/" target="_blank" >Explore</a>
        </li>
        <li>
            <a href="/feed.xml" target="_blank">
                RSS 
            </a>
        </li>
        <li>
            <a href="mailto:degananda.ferdian@gmail.com">Contact</a>
        </li>
    </ul>
</div>

{% include menu.sidebar.html %}
