<div class="latest-two-container">
    <div class="headline-author">
        <div class="title-container">
            <div class="profpic">
                <div class="contributor-small">
                    DF
                </div>
            </div>
            <div class="incat">
                <b>Degananda Ferdian</b> on <b><a href="/category/{{ post.categories }}">{{ post.categories }}</a></b>
            </div>
        </div>
    </div>

    <div class="headline-post-info-item-title">
        Table of Content
    </div>


    <div class="headline-tags">
        <ul>
      {% for heading in post.headings %}
        {% if forloop.index > 0 %}
            <li><a href="{{ post.url }}#{{ heading | replace: ' ', '-' | downcase }}">{{ heading }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>


    <div class="headline-post-info-item-title">
        Topics Covered
    </div>
    <div class="headline-tags">
        <ul>
            {% for tags in post.tags %}
            <li><a href="/tags/{{ tags }}/">{{ tags }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="highlight-redirect">
        <ul>
            <li>
                <a href="{{post.url}}"><button class="button-theme1-reversed">Read Article
                </button></a>
            </li>
        </ul>
    </div>



</div>