<div class="logo">
    Degananda.com
</div>
<div class="search">
    <input type="text" placeholder="serach">
    <button>search</button>
</div>
<div class="navigation">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/category/snippet/" target="_blank">Snippet</a>
        </li>
        <li>
            <a href="/feed.xml" target="_blank">RSS</a>
        </li>
        <li>
            <a href="mailto:degananda.ferdian@gmail.com">Contact</a>
        </li>
        <li>
            <a href="#">CV</a>
        </li>
    </ul>
</div>
