<div>
    <div class="pl-logo">
        <i class="fa fa-bars allmenu" aria-hidden="true" onclick="openMenu()"></i>
    </div>
</div>
<div>
        <img src="/assets/images/pl-logo.svg" height="30"> &nbsp;
</div>

<div class="logo">
    <div class="logo-container">
        <a href="/"> PUMPKINLABOO </a>
    </div>
</div>
<div class="search">
    <div class="search-container">
        {% if include.type == 'withoutserach' %} 
            &nbsp;
        {% else %}
        <input type="text" id="search-pl" placeholder="Search..">
        <button onclick="search()"><i class="fa fa-search" aria-hidden="true"></i>
        </button>        
        {% endif %}

    </div>
</div>
<div class="navigation">
    <ul>
        <li >
            <a href="/category/snippet/" target="_blank" class="series-top">Explore</a>
        </li>
        <li>
            <a href="/feed.xml" target="_blank">
                RSS &nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="mailto:degananda.ferdian@gmail.com">Contact</a>
        </li>
    </ul>
</div>

{% include menu.sidebar.html %}
