<div class="latest-two-container">

    <div class="headline-author">
        <div class="title-container">
            <div class="profpic">
                <div class="contributor-small">
                    DF
                </div>
            </div>
            <div class="incat">
                <b>Degananda Ferdian</b> on <b>{{ post.categories }}</b>
            </div>
        </div>
    </div>

    <div class="headline-post-info-item-title">
        Quantified Content Statistics 
    </div>
    
    <div class="headline-published-date">
        Overall Article {% glossary Quality %}: <b>Good</b> 
    </div>
    <div class="quality-meter">
        <div class="quality" style="width: 80%;">
            &nbsp;
        </div>
    </div>

    <div class="quality-name">Covered Topic</div>
    <div class="quality-meter">
        <div class="quality-sub" style="width: 70%;">
            &nbsp;
        </div>
    </div>
    <div class="quality-name">Words Count</div>
    <div class="quality-meter">
        <div class="quality-sub" style="width: 50%;">
            &nbsp;
        </div>
    </div>
    <div class="quality-name">Mins Read  </div>
    <div class="quality-meter">
        <div class="quality-sub" style="width: 80%;">
            &nbsp;
        </div>
    </div>


    <div class="headline-post-info-item-title">
        Outline of Content
    </div>


    <div class="headline-tags">
        <ul>
      {% for heading in post.headings %}
        {% if forloop.index > 1 %}
            <li><a href="#">{{ heading }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>


</div>