$bg-color: #ffffff;

/* layout sizing */
$max-site-global: 1444px;

/* font-sizing */
$logo: 20px;
$menu: 16px;
$main: 17px;
$sub-1: 16px;
$sub-2: 16px;
$sub-3: 15px;
$sub-4: 14px;
$section-font: 16px;

/* font color */
$fc-main: #000000;
$fc-sub-1: #3d3d3d;
$fc-sub-2: #5f5f5f;
$fc-sub-3: #4c4c4c;

/* font family */
$font-type-md: "Rubik", sans-serif;
$font-type-curve: "Playwrite BE VLG", cursive;
$font-type-logo: "Plus Jakarta Sans", sans-serif;

body {
    background: $bg-color;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: $font-type-md;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.whole-site {
    max-width: $max-site-global;
    margin: auto; /* center */
}


.whole-site > .topmenu, .whole-site > .latest-post,
.whole-site > .footer-menu, .whole-site > .category-post, .stats, .post-feedback, .footer-menu, .latest-post, .width-container  {
    padding: 0px 15% 0px 15%;
}

.whole-site > .post, .width-post-container {
  padding: 0px 20% 0px 20%;

}

.whole-site > .topmenu {
    padding: 0 0 0 0;
}



/* TopMenu Section */

.topmenu-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 5px 0px;
    background: #ffffff;
}

.topmenu-container > .logo {
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    font-family: $font-type-logo;
}

.logo-container > a {
  text-decoration: none;
  color: $fc-main;
}

.logo > .logo-container {
  padding-left: 25px;
}

.topmenu-container > .search {
    font-size: $logo;
    font-weight: bold;
    width: 20%;
    text-align: left;
}

.search > .search-container {
  padding-left: 25px;
}

.search-container > input[type="text"] {
  background: #f5f5f5;
  padding: 8px 15px 8px 15px;
  border: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}  

.search-container > input[type="text"]:focus {
  outline: none;
}

.search-container > button {
  background: #f5f5f5;
  padding: 8px 15px 8px 15px;
  border: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -10px;
  color:$fc-sub-3;
}


.topmenu-container > .navigation {
    width: 60%;
    text-align: right;
}

.gimmick-landing-top {
  width: 100%;
  background: #ffffff;
}

.gimmick-landing-top > .gimmick-landing-top-container {
  padding:12px 0px 12px 0px;
  text-align: center;
  font-size: $sub-4;
  margin: 0px 0px 0px 0px;
  border-top: 1px #f5f5f5 solid;
  border-bottom: 1px #f5f5f5 solid;
  color: #828282;
}

.gimmick-landing-top-container > a {
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .topmenu-container > .logo {
      width: 50%;
      text-align: center;
      margin: 0px;
  }

  .topmenu-container > .search {
    width: 50%;
    text-align: center;
  }

  .topmenu-container > .navigation {
    width: 100%;
    margin: 0px;
    text-align: center;
  }

}

@media only screen and (max-width: 600px) {

    .topmenu-container > .logo {
        width: 100%;
        text-align: center;
    }

    .topmenu-container > .search {
        width: 100%;
        text-align: center;
    }

    .topmenu-container > .navigation {
        width: 100%;
        margin-top: 0px;
    }

    .whole-site > .topmenu, .whole-site > .latest-post,
    .whole-site > .footer-menu  {
        padding: 0px 5% 0px 5%;
    }

  }

.topmenu-container > .navigation > ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.topmenu-container > .navigation > ul > li {
    display: inline-block;
    padding: 0px 25px 0px 0px;
  
}

.topmenu-container > .navigation > ul > li > a {
  font-size: $sub-3;
  text-decoration: none;
  color: $fc-sub-1;
}

.width-container > .aboutme {
    font-size: $sub-1;
    line-height: 1.4;
    margin: 15px 0px 15px 0px;
    text-align: center;
    font-weight: 300;
}
.aboutme > a {
  text-decoration: none;
  color: $fc-sub-2;
}

.profpic-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    line-height: 1.3;
    text-align: center;
    justify-content: center;
}

.profpic-container > .profpic {
    margin: 0px 0px 20px 0px;
    text-align: center;
}

.profpic-container > .profpic-info {
  padding: 30px 0px 30px 0px;
  font-family: $font-type-curve;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
}


/* End of topmenu Section */
.latest-post {
  background: #fafafa;
}

.latest-post > .latest-post-container {
    margin: 0   px 0 25px 0;
    padding: 25px 0 25px 0;
}


 .section-title {
    font-size: $sub-1;
    font-weight: bold;
    margin: 30px 0 30px 0px;
}

.post-type-1, .post-type-2  {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.first-content {
  background: #f5f5f5;
}

.heading-first {
  font-weight: 400;
}

.post-type-1 > .post-type-1-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.post-type-1 > .post-type-1-container > ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.post-type-1 > .post-type-1-container > ul > li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
    border-bottom: 1px #eeeeee solid;
}

.post-type-1 > .post-type-1-container > ul > li:nth-child(even) {
    background: #fafafa;
}


.post-type-1 > .post-type-1-container > ul > li:last-child {
    border-bottom: 0px;
}

.post-type1-content, .post-type-2 > .post-type-2-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    line-height: 1.3;
}

.post-type-2-content{
    width: 50%;
    margin: 0px 0px 40px 0px;
    line-height: 1.4;
}

@media only screen and (max-width: 600px) {
    .post-type-2-content{
        width: 100%;
    }
}



.post-type-2-content > .post-type-2-title {
    font-size: $sub-1;
    width: 90%;
}

.post-type-2-content > .post-type-2-title  > a {
  text-decoration: none;
  color: $fc-sub-3;
  font-weight: bold;
}

.post-type-2-content > .post-type-2-title-desc {
  font-size: $sub-4;
  width: 90%;
}


.post-type-2-title > a {
    text-decoration: none;
}


.post-type-2-content > .post-type-2-tldr {
    font-size: $sub-4;
    color: $fc-sub-2;
    width: 90%;
    margin: 15px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    margin: 15px 0px 15px 0px;
}


.post-type1-content  a {
    text-decoration: none;
}

.post-type1-content > .post-type1-info {
    color: $fc-main;
    font-size: $sub-4;
    padding: 10px 10px 10px 10px;
    width: 12%;
    text-transform:capitalize;
    font-weight: 300;
}


.plusbg {
  background: url('/assets//images/plusbg.svg');
  padding: 40px 0px 40px 0px;
}

.sub-info {
  background: rgb(91, 212, 91);
  padding: 3px 10px 3px 10px;
  font-size: 13px;
  border-radius: 10px;
  width: 45px;
  text-align: center;
}

.post-type1-content > .post-type1-title {
    color: $fc-main;
    font-size: $sub-4;
    padding: 10px 10px 10px 0px;
    width: 38%;
    font-weight: 300;
}



.post-type1-title > .post-date {
    display: none;
}

@media only screen and (max-width: 1000px) {

    .post-type1-title > .post-date {
        display: inline-block;
    }

    .post-type1-content > .post-type1-info {
        display: none;
    }

    .post-type1-content > .post-type1-title { 
        width: 100%;
    }
}

.post-type1-content > .post-type1-title > .post-tldr {
    color: $fc-sub-2;
    font-size: $sub-2;
}

.findmore {
  padding: 25px 0px 15px 0px;
}

.section-link-reverse {
  padding: 5px 15px 5px 15px;
  background: #ffffff;
  border-radius: 5px;
}

.section-link-reverse > a {
    text-decoration: none;
    font-size:  14px;
    color: #3d3d3d;
}

.section-link2 {
  padding: 5px 15px 5px 15px;
  background: #000000;
  border-radius: 5px;
}

.section-link2 > a {
    text-decoration: none;
    font-size:  14px;
    color: #fafafa;
}

.section-link {
  padding: 5px 15px 5px 15px;
  background: #000000;
  border-radius: 15px;
}

.section-link > a {
    text-decoration: none;
    font-size:  12px;
    color: #fafafa;
}

.more-topics {
  font-size: $sub-4;
  margin: 20px 0px 5px 0px;
}

/* footer section */

.footer-menu {
  background: #000000;
}

.footer-menu > .footer-menu-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    padding: 40px 0px 40px 0px;
    font-size: $sub-2;
}

.footer-menu-container  > .disclaimer {
    padding: 20px 0px 20px 0px;
    margin: 15px 0px 15px 0px;
    width: 100%;
    color: #fafafa;
    font-size: $sub-3;
}

.opensource {
  padding: 50px 0px 0px 0px;
  width: 100%;
  color: #fafafa;
  font-size: $sub-3;
  text-align: center;
}

.footer-menu-container  > .copyright {
    width: 50%;
    text-align: left;
    color: #fafafa;
    font-size: $sub-4;
}

.footer-menu-container  > .last-update {
    width: 50%;
    text-align: right;
    color: #fafafa;
    font-size: $sub-4;
}

.footer-info > ul {
  margin: 2px 0 2px 0;
  padding: 0 0 0 0;
}

.footer-info > ul > li {
  list-style-type: none;
  display: inline;
  font-size: $sub-4;
  padding: 0px 10px 0px 0px;
}

.footer-info > ul > li  > a {
  text-decoration: none;
  color: #dadada;
  font-size: $sub-4;
}


/* 
  Post Details
*/

.post {
  margin: 60px 0px 60px 0px;
}

.post-title {
  margin: 30px 0px 30px 0px;
}

.post-title > h1 {
  color: $fc-sub-1;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}



/* post md */
.post-content pre,
.post-content code {
    font-family: $font-type-md;
    background: #fafafa;
  }
  
.post-content pre {
    padding: 25px;
    line-height: 1.25;
  }
  
.post-content >  a,
.post-content >  a:visited {
    color: #3498db;
  }
  
.post-content >  a:hover,
.post-content >  a:focus,
.post-content >  a:active {
    color: #2980b9;
  }
  
.post-content >  .modest-no-decoration {
    text-decoration: none;
  }
  
.post-content >  p,
  .modest-p {
    font-size: 17px;
    margin-bottom: 1.3rem;
    line-height: 1.7rem;
    color: #5a5a5a;
  }
  
.post-content >  h1,
  .modest-h1,
.post-content >  h2,
  .modest-h2,
.post-content >  h3,
  .modest-h3,
.post-content >  h4,
  .modest-h4 {
    font-weight: inherit;
  }
  
.post-content >  h1,
  .modest-h1 {
    clear:both;
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
  }
  
.post-content >   h2,
  .modest-h2 {
    font-size: 20px;
    font-weight: 500;
  }
  
.post-content >  h3,
  .modest-h3 {
    font-size: 1.999rem;
  }
  
.post-content >  h4,
  .modest-h4 {
    font-size: 1.414rem;
  }
  
.post-content >  h5,
  .modest-h5 {
    font-size: 1.121rem;
  }
  
.post-content >  h6,
  .modest-h6 {
    font-size: .88rem;
  }
  
.post-content >  small,
  .modest-small {
    font-size: .707em;
  }
  
  
.post-content >  img,
.post-content > canvas,
.post-content >  iframe,
.post-content >  video,
.post-content >  svg,
.post-content >  select,
.post-content >  textarea {
    max-width: 100%;
  }




  #site-post > .site-post-container {
    width: 100%;
    clear:both;
    float:left;
  }

  #site-post > .site-post-container > .site-poster-info {
    color: #444;
    font-family: $font-type-md;
    padding: 0 5% 0 0;
    clear:both;
  }
  
  
 .post-content {
    color: #444;
    font-family: $font-type-md;
    margin-top: 25px;
  }
  
.post-content >  h1,
.post-content >  h2,
.post-content >  h3,
.post-content >  h4,
.post-content >  h5,
.post-content >  h6 {
    font-family: $font-type-md;
  }
  
.post-content >  h1,
.post-content >  h2,
.post-content >  h3 {
  }
  
.post-content   blockquote {
    border-left: 8px solid #dadada;
    padding: 1rem;
    background: #f5f5f5;
  }

.post-content   li {
    font-family: $font-type-md;
    color: #5a5a5a;
    padding-bottom: 10px;
    font-size: 16px;
  }

#results-container {
    position: fixed;
    background: none;
}

.search-result-item a {
    text-decoration: none;

}

/* Tooltip from https://www.w3schools.com/css/css_tooltip.asp */
.jekyll-glossary {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted #0074bd;
    cursor: help;
  }
  
  .jekyll-glossary .jekyll-glossary-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
  
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  
    width: 160px;
    bottom: 100%;
    left: 50%;
    margin-left: -80px; /* Use half of the width to center the tooltip */
  
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .jekyll-glossary:hover .jekyll-glossary-tooltip {
    visibility: visible;
  }
  
  /* Style the source link (if there is one provided in the glossary entry). */
  .jekyll-glossary-source-link:before {
    content: "[source]";  // "(reference)", "<link>" or whatever you want.
  }
  
  /* Arrow created with borders. */
  .jekyll-glossary .jekyll-glossary-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  /* Animation from invisible to visible on hover. */
  .jekyll-glossary .jekyll-glossary-tooltip {
    opacity: 0;
    transition: opacity 1s;
  }
  .jekyll-glossary:hover .jekyll-glossary-tooltip {
    opacity: 1;
  }

/* gimmick */

.stats {
  background: #fafafa;
  margin: 20px 0px 0px 0px;
}

.stats-container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

.stats-whole-container {
margin: 30px 0px 30px 0px;
text-align: center;
width: 100%;
}

.enmax {
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
}

.gimmick-view-stats {
  margin: 15px 0px 0px 0px;
  background: #ffffff;
  padding: 6px 15px 6px 15px;
  border: 1px #3d3d3d solid;
  border-radius: 5px;
  line-height: 1.4;
  width: 130px;
  text-align: center;
}

.gimmick-view-stats > .gimmick-stats-title {
  font-weight: bold;
  font-size: $sub-4;
}

.gimmick-view-stats > .gimmick-stats-desc {
  font-weight: 300;
  font-size: $sub-4;
}


.stats-container > .max {
    width: 100%;
    text-align: center;
}


.max > .stats-title {
  font-size: 25px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 0px 0px 25px 0px;
}

.max > .stats-title-desc{
  font-size: $sub-1;
  width: 100%;
  text-align: center;
}

.stats-number-container {
  margin: 0px 20px 0px 0px;
}

.stats-number {
  font-size: 30px;
}

.stats-desc {
  font-size: 14px;
  font-weight: 300;
}


.main-section {
  font-size: $section-font;
  font-weight: bold;
  padding: 10px 0px 20px 0px;
}

.allmenu {
  font-size: 10px;
}

.site-category {
  width: 100%;
}

.site-category-topics {
  width: 100%;
}


.site-category-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items:safe;
}

.site-category-box {
  margin: 0px 50px 0px 0px;
}

.site-category-content {
  padding: 0 0 0 0;
  margin: 0 0 0 10px;
}

.site-category-content li {
  list-style-type: none;
  margin: 0px 0px 12px 0px;
}

.site-category-content li > a {
  text-decoration: none;
  color: $fc-main;
  font-size: 14px;
  text-transform:capitalize;
}

.site-category-title {
  font-weight: bold;
  margin: 0px 0px 15px 0px;
  font-size: 14px;
  text-transform:capitalize;
} 

.site-navigation-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items:start;
}


.site-category-container > .item {

}

.site-category-container > .item > .item-container {
  padding: 3px 8px 3px 8px;
  margin: 0px 5px 3px 0px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px #dadada solid;
  background: #f0f0f0;
  text-transform:capitalize;
}

.site-category-container > .item > .item-container > a {
  color: $fc-sub-1;
  text-decoration: none;
  font-size: $sub-4;
  font-weight: 300;
  text-transform:capitalize;
}


.post-feedback {
  font-size: 13px;
  text-align: center;
  padding: 12px 0px 12px 0px;
  border-bottom: 1px #f0f0f0 solid;
  color: #3d3d3d;
  background: #fafafa;
}

.content-type-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: start;
}

.content-type-container > .type-item {
  padding: 3px 5px 3px 5px;
  background: #dadada;
  color:#3d3d3d;
  margin: 0px 2px 0px 0px;
}

.series {
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  line-height: 1.3;
}

.series > li {
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.series-status {
  padding: 4px 8px 4px 8px;
  background: #e1e1e1;
  border-radius: 5px;
  font-size: 13px;
}

.post-menu {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.post-menu li {
  display: inline-block;
  margin: 0px 20px 0px 0px;
}

.post-menu li > a {
  text-decoration: none;
  color: #828282;
}


#post-heading {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: baseline;
    justify-content: left;

}

 .post-heading-title {
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
}

#post-heading ol {
  list-style-type: decimal-leading-zero;
  margin: 20px 0 0 45px;
  padding: 0 0 0 0;
  font-size: 14px;
  line-height: 1.5;
}

.post-section {
  width: 33%;
  margin: 0px 0px 25px 0px;
}

#post-heading ol > li {
  margin: 0px 0px 5px 0px;
}

#post-heading ol > li > a {
  color: #696969;
  font-size: 14px;
  text-decoration: none;
}

.lang {
  background: #3d3d3d;
  color: #fafafa;
  margin: 0px 5px 0px 0px;
  padding: 3px 3px 3px 3px;
}

.social {
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.social .fa {
  color: #fafafa;
  font-size:22px;
  margin: 0px 15px 0px 0px;
}

.explore-series {
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  padding: 15px 0px 25px 0px;
}

.series-name {
  margin: 0px 0px 0px 10px;
  font-size: 13px;
  padding: 10px 18px 10px 18px;
  background: #f2f2f2;
  border-radius: 10px;
  color: #3d3d3d;
}

.available-series {
  margin: 0 10px 0px 0px;
  font-size: 14px;
  color: #3d3d3d;
}

.post-author-container, .post-gimmick-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  margin: 40px 0px 40px 0px;
  line-height: 1.4;
}

.post-gimmick-container i {
  font-size: 16px;
  margin: 0px 25px 0px 0px;
}

.post-author-photo  {
  padding: 0px 15px 0px 0px;
}

.post-author-photo > img {
  width: 45px;
  height: 45  px;
  border-radius: 100px;
}

.comment-button {
  text-align: right;
  margin-left: auto;
}

.comment-button i {
  margin-right: 8px;
}

.typo1 {
  font-size: 15px;
}

.typo2 {
  font-size: 15px;
  font-weight: 300;
}

.typo3 {
  font-size: 15px;
  font-weight: 300;
  color: #3d3d3d;
}

.post-tags {
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
}

.post-tags-item {
  background: #f3f3f3;
  padding: 8px 12px 8px 12px;
  margin: 0px 10px 0px 0px;
  font-size: 14px;
  border-radius: 15px;
}

.post-tags-item  a {
  text-decoration: none;
  color: #3d3d3d;
}

.bg-gray {
  background: #fafafa;
}

.related-post {
  padding: 40px 0px 40px 0px;
  margin: 15px 0px 0px 0px;
}

.related-post-container {

}