---
---
{% include meta.header.html title =page.title %}
<body>

    <div class="whole-site">
        <div class="post-feedback">
            Got Feedback ? <a href='https://github.com/deganandapriyambada/degananda.com/edit/master/_posts/{{ page.date | date: "%Y"}}-{{ page.date | date:"%m"}}/{{ page.name }}'>Edit this page</a>  on Github &nbsp; <i class="fa fa-external-link" aria-hidden="true"></i>
        </div>
        <div class="topmenu">
            <div class="topmenu-container">
                {% include top.menu.html %}
            </div>
            <div class="gimmick-landing-top">
                <div class="gimmick-landing-top-container">
                        List of Topics
                </div>
            </div>        
        </div>

        <div class="post">
            <div class="post-container">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <div>
                        Dega on <a href="#">{{ page.categories }}</a>
                        
                    </div>
                    <div>
                        Last Modified on {% last_modified_at %}

                    </div>
                </div>

                <div class="post-tldr">
                    <h2> TLDR; </h2>
                    {{ page.excerpt }}
                </div>

                <div class="post-list-of-content">
                    <h2> list of content </h2>
                </div>

                
                <div class="post-tags">
                    <h2> Tags </h2>
                    {% for tag in page.tags %}
                    <a href="/tags/{{ tag }}/">{{ tag }}</a> <br />
                    {% endfor %}
                </div>



                <div class="post-content">
                    {{  page.content }}
                </div>
                <div class="gimmick-twitter-updates">
                    <a href="https://x.com/intent/follow?screen_name=degapriyambada" target="_blank">Get Updates on Twitter</a>
                </div>

                <div class="related-post">
                    <h3> Related Article </h3>
                    <div class="related-post-container">
                        {% if site.related_posts.size >= 1 %}
                            <ul>
                            {% for related_post in site.related_posts limit: 5 %}
                                <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                    </div>
                </div>

            </div>
        </div>

        {% include footer.menu.html %}

    </div>
    <!-- mermaid diagram -->
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: false });
        await mermaid.run({
          querySelector: '.language-mermaid',
        });
      </script>
</body>